html {
    width: 100%; 
    height: 100%;
    text-align: center;
    background-color: #fff;
    color: #EF4836;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

body .container-fluid:nth-child(2) {
    padding-right:0px;
    padding-left:0px;
    padding-top: 50px;
}

.odswidget-geo-scroller h2.scroller-control {
    font-size: 12px;
}
.odswidget-geo-scroller h2 {
    text-align: right;
}

/* NAVIGATION */

.navbar {
    background: #fff;
}

.navbar-default .navbar-brand {
    color: #EF4836;
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav > ul {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

.navbar-nav > li {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    padding-right: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #EF4836;
}

.navbar-default .navbar-form .navbar-right {
    color: #EF4836;
}

.navbar-default .navbar-form .navbar-right:hover {
    color: #ec643c;
}

.navbar-default .navbar-nav {
    100px;
}

/* NAVBAR MEDIA QUERIES */

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar-header {
        float: left;
        padding: 15px;
        text-align: center;
        width: 100%;
    }
    .navbar-brand {float:none;}
}

/* SEARCH BOX */

#ods-search {
    padding-top: 12px;
    padding-right: 20px;
    display: inline-flex;
}

#ods-search .searchbox {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 25em;
    border: 1px solid #EF4836;
}

.clear-all,
#ods-search button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px; 
    margin-left: 10px;
    border-radius: 10px;
    border: 0px;
    background: #EF4836;
}

.clear-all {
    color: #fff;
    float: right;
    margin: 0 0 0 -30px;
}

.clear-all i,
.clear-all span {
    display: none;
}

.clear-all:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.clear-all:after {
    content: "Reset View";
}

#ods-search button, textarea {
    color: white;
}

#ods-search input {
    text-align: center;
}

ul li span { 
    float: left;
    width: 105px;
}

.odswidget-filter-summary .ng-binding {
    display: none;
}

ul {
    list-style-type: none;
}

/* SEARCH BOX MEDIA QUERIES */

@media only screen and (max-width : 900px) {
    .nav.navbar-nav.navbar-right {
        position: relative;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .nav.navbar-nav.navbar-right li {
        float: none;
    }
    #ods-search .searchbox {
        width: -moz-calc(100% - 100px);
        width: -webkit-calc(100% - 100px);
        width: -o-calc(100% - 100px);
        width: calc(100% - 100px);
    }
    .clear-all {
        color: #fff;
        float: none;
        margin: 0 0 0 0;
    }
}

.ng-cloak { 
    display: none; 
 }

.ng-leaflet-tooltip-cloak { 
    display: none;
}

/* Footer */

footer  {
    background:#fff;
    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    left:0;
    border-top: 1px solid #e7e7e7;
    padding: 1em;
    z-index: 100;
}
footer a {
    color: #EF4836;
    margin-bottom: 5px;
}

footer p {
    color: #EF4836;
    margin-bottom: 5px;
}

footer a:hover {
    color: #5e5e5e;
    text-decoration: none;
}

/* Leaflet Controlers */

.leaflet-control-scale {
    bottom: 50px !important;
}

.leaflet-control-attribution {
    bottom: 50px !important;
}

.cluster-marker-circle {   
    box-sizing: content-box; 
}